body {
    background-color: #E0F7FA;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    width: 95%;
    margin: auto;
}

.banner {
    background-color: #00838F;
    height: 200px;
}

.menu {
    background-color: #006064;
    padding: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 150%;
    margin: 0 10px;
}

.main-blocks {
    display: flex;
    justify-content: space-between;
}

.block {
    height: 350px;
    width: 33%;
}

.footer {
    background-color: #006064;
    color: white;
    text-align: right;
    padding: 10px;
}

ul {
    text-align: left;
}

button {
    background-color: #00838F;
    color: white;
}

button:hover {
    color: #80DEEA;
}

.menu a:hover {
    color: #80DEEA;
}