body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #E0F7FA ;
    font-family:Arial;
    text-align: center;
}

/* #blok {

} */
#baner {
    width: 100%;
    background-color:#00838F;
}

#baner img {
    width: 100%;
    height: 200px;
    background-color:#00838F;
}

footer {
    width: 100%;
    height: 20%;
    background-color: aquamarine;
}

#kontener_całej_strony
{
    width: 95%;
    margin: auto;
    display: inline-block;
}
#menu {
    background-color:#00838F ;
    height: 200px;
    padding: 15px;
}
#menu a {
    color: white;
    text-decoration: none;
    font-size: 150%;

}

#Pierwszy_blok , #Drugi_blok , #Trzeci_blok {
    height: 350px;
    width: 33%;
}